body {
    font-family: 'Trirong', serif;
    font-weight: 400;
    color: #fafafa;
    margin: 0;
    
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 10rem;
    font-weight: 800;
    text-transform: uppercase;
    margin:0;
    padding: 0;

}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 8rem;
    font-weight: 800;
    padding-top: 60px;
    margin-top: 0px;
    margin-bottom: 31px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    font-weight: 800;
    padding: 49px 15px;
    max-width: 1260px;
    margin: -49px auto 0 auto;
}


/* Navigation Bar */

/* 
    Navbar sub menu
    Hiden by default. 
*/
.sub-navigation {
    display: none;
    box-shadow: -2px 2px 16px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 3;
    top: 52px;
    right: 83px;
}

/* Used to display sub navigation menu in JS function */
.show-sub-nav {
    display: flex;
    flex-direction: column;
    width: 130px;
    background-color: #07689f;
}

#navbar {
    background-color: #07689f;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 2px 0 2px black;
    z-index: 2;
}

/* Navbar Hamburger Icon */
#navbar .icon {
    display: none;
}

/* Links inside the navbar */
#navbar a {
    font-weight: 100;
    display: block;
    float: right;
    color: inherit;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

#navbar a:hover, #navbar a:focus {
    background-color: #079F8A;
}

/* projects navigation button */
#projects-btn {
    cursor: pointer;
}

/* 
    iOS, iPad projects.
    Hiding this option until needed 
*/
#my-sub-navigation a[href^="#iOS-iPad"] {
    display: none;
}

/* 
    Android projects
    Hiding this option until needed
*/
#my-sub-navigation a[href^="#android"] {
    display: none;
}


/* Welcome Section */

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(239.3deg, rgba(0, 118, 186, 0.78), rgba(86, 193, 255, 0.78)), 
                url('https://image.freepik.com/free-photo/working-code_1098-19858.jpg') center/cover;
    height: 100vh;
    padding: 0 10px 0 10px;
}

/* Name, Abilities, & Education */
#welcome-section p {
    background-color: #ff7e67;
    font-weight: 600;
    font-size: 2.3rem;
    text-align: left;
    padding: 0.5rem 0.5rem;
    margin: 0;
}


/* Project Section */

/* Projects grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 45px;
    grid-row-gap: 30px;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    
}

/* Project tile contains img, project title, and project files */
.project-tile { 
    padding: 0 15px;
}

.project-tile a {
    text-decoration: none;
}

.project-tile img:hover, .project-tile img:focus {
    width: 101%;
}

/* Project img */
.project-tile img{ 
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    width: 100%;
    margin: 0;
}

/* Project title */
.project-title {
    font-size: 2.5rem;
    margin: 20px 0 0 0;
    line-height: 40px;

}

/* Project source file */
.project-source-file {
    display: inline-block;
    font-size: 0.9375rem;
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding-top: 15px;
}

.project-source-file:hover, .project-source-file:focus {
    background-color: #67e8ff;
    font-size: 1.0625rem;
    padding: 10px;
}

/* Collapsible Button */
.collapsible-button {
     /* temporarily hidden */
    display: none;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.5rem;
    color: inherit;
    background-color: #07689f;
    border: none;
    outline: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    text-decoration: none;
    padding: 15px 32px;
    margin: 30px auto;
}

.collapsible-button:hover, .collapsible-button:focus {
    font-size: 1.6rem;
    background-color: #079F8A;
}

/* Collapsible button container */
.collapsible-button-container {
    text-align: center;
}

/* HTML, CSS, and JS collapsible grid container */
#html-css-js-collapsible-grid-container {
    display: none;
    margin-top: 30px;
}

#projects {
    background-color: #ff7e67;
    padding-bottom: 60px;
}


/* Contact Section */

/* Contact Section Container */
.contact-section-container {
    text-align: center;
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
}

#contact {
    background-color: #a2d5f2;
    padding: 100px 0;
}

#contact h3 {
    font-size: 4rem;
}

/* GitHub and Email links */
#profile-link{
    display: inline-block;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 5.5rem;
    color: #ff7e67;
    text-decoration: none;
    padding: 50px 15px;
    z-index: 0;
}

#profile-link:hover {
   top: 20px;
}

/* GitHub and Email icons */
#contact i {
    position: relative;
    z-index: -1;
}

#contact p {
    font-size: 1.5rem;
    padding: 49px 15px 0;
    margin: 0;
}


/* Footer Section */

footer {
    background-color: #a2d5f2;
    padding: 0 15px 10px;
}

.footer-container {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
}

.footer-container a {
    font-weight: 100;
    font-size: 0.8rem;
    color: inherit;
    text-decoration: none;
}

.footer-container a[href^="http://www.freepik.com"] {
    margin-left: 10px;
}

.footer-container a:hover {
    background-color: #ff7e67;
}

.footer-container p {
    font-weight: 100;
    font-size: 0.8rem;
    margin: 0;
}



