body {
    margin: 0;
    
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 10rem;
    font-weight: 800;
    color: #fafafa;
    text-transform: uppercase;
    margin:0;
    padding: 0;

}

/* Navigation Bar Styles */
#navbar {
    background-color: #07689f;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 2px 0 2px black;
}

/* Links inside the navbar */
#navbar a {
    font-family: 'Trirong', serif;
    font-weight: 100;
    display: block;
    float: right;
    color: #fafafa;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}

#navbar .icon {
    display: none;
}

.sub-navigation {
    display: none;
}

/* Main Content */
#main-doc {
    /* margin-top: 48px; */
}

/* Welcome Section */
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(239.3deg, rgba(0, 118, 186, 0.78), rgba(86, 193, 255, 0.78)), 
                url('https://image.freepik.com/free-photo/working-code_1098-19858.jpg') center/cover;
    height: 100vh;
    padding: 0 10px 0 10px;
}

/* Name, Abilities, & Education */
#welcome-section p {
    background-color: #ff7e67;
    font-family: 'Trirong', serif;
    font-weight: 600;
    text-align: left;
    font-size: 2.3rem;
    color: #fafafa;
    padding: 0.5rem 0.5rem;
    margin: 0;
}


